<!DOCTYPE html>

<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <title>Abid's Personal Site</title>
    <link rel="stylesheet" href="static/styles.css">
  </head>

  <body>
    <table cellspacing="20">
      <tbody><tr>
        <td><img src="static/abid.png" alt="abid's profile picture"></td>
        <td><h1>Abid Hasan</h1>
        <p><em>Co-Founder of <strong>Propvestech</strong></em></p>
        <p>I am a technical lead. I ❤️ learning and mentoring.</p></td>
      </tr>
    </tbody></table>
    <hr>
    <h3>Technical interest</h3>
    <ul>
      <li>Solution architecture</li>
      <li>Integration</li>
      <li>Full stack development</li>
    </ul>
    <hr>
    <h3>Work Experience</h3>
    <table cellspacing="10">
      <thead>
        <tr>
          <th>Dates</th>
          <th>Work</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>2023-2023</td>
          <td>Technical Lead at Village Entertainment</td>
        </tr>
        <tr>
          <td>2022-2023</td>
          <td>Solution Consultant at Appian</td>
        </tr>
        <tr>
          <td>2021-2022</td>
          <td>Senior consultant at Onetrust</td>
        </tr>
        <tr>
          <td>2013-2021</td>
          <td>Integration Specialist at The Good Guys</td>
        </tr>
      </tbody>
    </table>
    <hr>
    <h3>Skills</h3>
    <table cellspacing="10">
      <tbody><tr>
        <td>Integration</td>
        <td>⭐️⭐️⭐️⭐️⭐️</td>
      </tr>
      <tr>
        <td>Web Development</td>
        <td>⭐️⭐️⭐️⭐️⭐️</td>
      </tr>
       <tr>
        <td>Programming</td>
        <td>⭐️⭐️⭐️⭐️⭐️</td>
      </tr>
      <tr>
        <td>Photography</td>
        <td>⭐️⭐️</td>
      </tr>
    </tbody></table>
  

</body></html>